{
    "bracketSpacing": true,
    "plugins": ["prettier-plugin-organize-attributes", "prettier-plugin-organize-imports"],
    "printWidth": 120,
    "singleAttributePerLine": true,
    "tabWidth": 4
}
